@model IEnumerable<Product>

<h2>Список товаров</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить новый товар</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@ViewBag.NameSortParm>Название</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@ViewBag.BrandSortParm>Бренд</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@ViewBag.DateSortParm>Дата добавления</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@ViewBag.PriceSortParm>Цена</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@ViewBag.CategorySortParm>Категория</a>
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Brand.Name</td>
                <td>@product.CreatedAt.ToString("g")</td>
                <td>@product.Price</td>
                <td>@product.Category.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
